/*
@import "../_global.scss";

html {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    border-top: solid 10px $text-color;
    color: $text-color-light;
    font-family: 'Droid Serif', Arial, Verdana, Helvetica, Sans-Serif;
    font-size: $regular-size;
    margin: 0;
    padding: 0 5px;
}

a {
    outline: none;
	text-decoration: none;
}

    a:link, a:visited, a:active {
        color: $link-color-light;
    }

    a:hover {
        background-color: $hover-color;
        color: $brand-color-light;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

h2 {
  color: $brand-color-dark;
  font-size: $regular-size;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  text-transform: uppercase;
}

h4 {
  color: $brand-color-dark;
  font-size: $small-size;
  margin: 0;
  padding: 0;
}

/* main layout
----------------------------------------------------------
header .content-wrapper {
    padding: 3% 1% 0 1%;
}

div.content-wrapper {
    margin: 0 auto;
    max-width: 100%;
}

#body {
    clear: both;
    padding: 3% 0px 8% 0px;
}

#body > div:first-child {
  float: left;
  width: 100%;
  padding-bottom: 5%;
}

#body > div:first-child + div {
  float: left;
  width: 100%;
}

footer {
    clear: both;
    font-size: $small-size;
    height: 50px;
}

/* site title
----------------------------------------------------------
#site-title {
    color: $brand-color;
    font-family: 'Lobster', Helvetica, Arial, Sans-Serif;
    font-size: $huge-size;
    font-weight: 700;
    margin: 0;
}

/* main styles
----------------------------------------------------------

#body > div:first-child nav {
  paddin-bottom: 0px;
}

#body > div:first-child nav ul {
  margin: 0;
  padding: 0;
  
}

#body > div:first-child nav ul li {
  display: inline;
  list-style-type: none;
  font-weight: 700;
  margin: 0;
  padding: 0 2% 0 0;
}

#body > div:first-child aside > div:first-child,
#body > div:first-child aside > div:first-child + div {
  float: left;
  margin-top: 20px;
  width: 65px;
  text-align: center;
}

#body > div:first-child aside > div:first-child {
  margin-right: 1%;
}

.contact .info-container {
  float: left; width: 100%;
}

.about-me-container {
  float: left;
  width: 280px;
}

#my-pic {
  display: none;
}

.about-img-container {
  float: left;
  width: 240px;
  margin-left: 40px;
}

#body > div:first-child header, 
#body > div:first-child + div header, 
.content-wrapper .portfolio header {
  font-weight: 700;
  color: $brand-color-dark;
  text-transform: uppercase;
}

.no-margin-top {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* page elements
----------------------------------------------------------

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center-align {
  text-align: center;
}

.tiny-text {
  font-size: .75em;
}

.projects {
  list-style-type: none;
  padding: 0px;
  margin: 0px;         
}

aside .help {
  font-size: .85em;
  font-weight: 700;
  color: $hover-color;
}

.contact {
  margin-top: 0px;
  padding-top: 0px;
}

.contact a {
  font-size: $small-size;
  font-weight: 400;
  text-decoration: none;
}

img.about-img {
  border: 1px solid $text-color-lighter;
  width: 220px;
  height: 290px;
  box-shadow: 5px 10px 10px rgba($text-color,0.4);
}



.ui-tooltip-wiki{
    max-width: 5px;
	padding: 5px;
}


.my-photo img {
    width: 55px;
    height: 72px;
    border: 1px solid $text-color-lighter;
}

.main-tile
{
	width: 560px;
	float: left;
}	

.blue-square {
  margin-left: 0px;
  padding-left: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.blue-square li {
  list-style-type: square;
  color: $link-color-dark;

  span {
    color: $text-color-light;
  }
}

.blue-square li a {
  color: $link-color;
}

.blue-square li a:hover {
  color: $brand-color-light;
}

.pink-square {
  margin-left: 0px;
  padding-left: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.pink-square li {
  list-style-type: square;
  color: $hover-color;
}

.text-color-light {
  color: $text-color-light;
}

.top-space {
  padding-top: 10px;
}

.content-wrapper > div:first-child + div .pink-square header {
  font-weight: 700;
}

.no-square {
  margin-left: 0px;
  padding-left: 20px;
}

.no-square li {
  list-style-type: none;
}


/* hr
----------------------------------------------------------

hr {
  border: 1px dashed $hover-color;
  height: 0px;
  background: $bg-color;
}

hr.pink-line {
  border: 1px dotted $hover-color;
  height: 0px;
  background: $bg-color;
}


/* MEDIA QUERIES
***********************************************************

@media screen and (min-width: 420px) and (max-width: 619px) {
  header .content-wrapper {
    padding-top: 20px;
  }

  .content-wrapper {
    margin: 0 auto;
    max-width: 420px;
  }

  #body {
    clear: both;
    padding: 15px 0px 35px 0px;
  }

  .content-wrapper > div:first-child {
    float: left;
    width: 100%;
  }

  .content-wrapper > div:first-child + div {
    float: left;
    width: 100%;
  }

  footer {
    clear: both;
    font-size: $small-size;
    height: 50px;
  }
}

@media screen and (min-width: 640px) {

  header .content-wrapper {
    padding: 1% 0 0 0;
  }

  div.content-wrapper {
    margin: 0 auto;
    width: 620px;
    max-width: 620px;
  }

  #body {
    padding: 1% 0 3% 0;
  }

  #body > div:first-child {
    float: left;
    width: 200px;
  }

  #body > div:first-child + div {
    float: left;
    width: 420px;
  }

  #body > div:first-child nav ul li {
    display: block;
    font-size: $big-size;
    padding: 0 0 5% 0;
  }

  #body > div-first-child nav ul li a {
    text-decoration: none;
  }

  #my-pic {
    display: block;
    background: transparent url("../Images/kyle-a-clark.jpg") no-repeat scroll center;
    border: 1px solid $text-color-lighter;
    width: 55px;
    height: 72px;
  }

  footer {
    clear: both;
    font-size: $small-size;
    height: 50px;
  }
}
*/