@import "../_global.scss";

.clear {
  clear: both;
}

.no-margin-top {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* page elements
----------------------------------------------------------*/

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center-align {
  text-align: center;
}

.tiny-text {
  font-size: .75em;
}

.text-color-light {
  color: $text-color-light;
}

.top-space {
  padding-top: 10px;
}

.content-wrapper > div:first-child + div .pink-square header {
  font-weight: 700;
}

.no-square {
  margin-left: 0px;
  padding-left: 20px;
}

.no-square li {
  list-style-type: none;
}