<section class="about-block-desc">

  <h1>My name is Kyle Clark.</h1>
  <h2>I develop software for the web &amp; work at <a href="https://kissmetrics.com" title="Kissmetrics" target="_blank">Kissmetrics</a> remotely from Arizona, primarily focused on the front-end stack in Backbone and React plus some Ruby.</h2>
  <h2>Other interests include sports analytics &amp; writing. See <a href="http://www.ballcruncher.com" title="Ballcruncher" target="_blank">Ballcruncher</a> for more.</h2>

</section>

<section class="about-block-pic">

  <figure>
  	<img id="my-pic" src="/images/kyle-a-clark.jpg" alt="Kyle A. Clark">
  	<figcaption><img src="/images/thats-me.png" alt="Kyle A. Clark"></figcaption>
  </figure>

</section>
