<section class="about-block-desc">

  <h1>My name is Kyle Clark.</h1>
  <h2>I live and work remotely from Arizona.
  <h2>I love to engineer solutions for the web &amp; work for <a href="https://srcclr.com" title="SRC:CLR">SRC:CLR</a> as a front-end engineer building a large-scale Angular application.</h2>

</section>

<section class="about-block-pic">

  <figure>
  	<img id="my-pic" src="/images/kyle-a-clark.jpg" alt="Kyle A. Clark">
  	<figcaption><img src="/images/thats-me.png" alt="Kyle A. Clark"></figcaption>
  </figure>

</section>
