<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">A Little Background</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="background-block">
  <div>
    <p>I have over severn years experience as a software developer. I am currently a Front-End Engineer at <a href="http://srcclr.com" title="SRC:CLR" target="_blank">SRC:CLR</a>, a San Francisco based startup innovating software security for developers.</p>
  </div>

  <div>
    <p>This site was built on NodeJS with AngularJS and other essential front-end technologies, such as Grunt, Bower, HTML5, Sass, and more.</p>
  </div>
</section>

<section class="background-block">
  <div>
    <p>The first website I built was in 2001, and my first program in 2002 using C++. I've contributed to over 25 professional projects. I love to build amazing software. And it's not just a job to me. Programming is my passsion.</p>
  </div>

  <div>
    <p>View the <a href="/portfolio" title="Kyle A. Clark Portfolio">Portfolio</a> section to view more of my personal projects.</p>
  </div>
</section>
