<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Education &amp; Certs</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="education-block-headline">
  <div>
    <h3>Education</h3>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h3>Arizona State University</h3>
    <ul>
      <li>Bachelor of Arts in Political Science &mdash; Spring 2010</li>
    </ul>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h3>Mesa Community College</h3>
    <ul>
      <li>Web Scripting with ASP.NET &mdash; Spring 2012</li>
      <li>Software Testing for Quality Assurance &mdash; Spring 2012</li>
      <li>Object-Oriented Programming & Data Structures in Java &mdash; Spring 2011</li>
    </ul>
  </div>
</section>

<section class="education-block-headline education-block-certifications">
  <div>
    <h3>Certifications</h3>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h3>Microsoft Certified</h3>
    <ul>
      <li><em>Programming in HTML5 with JavaScript and CSS3</em> &mdash; January 2013</li>
    </ul>
  </div>
</section>