<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Work Experience</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="experience-block-desc">
  <div>
    <h3>Kissmetrics</h3>
    <ul>
      <li>Software Engineer &mdash; June 2015 &dash; Present</li>
    </ul>
  </div>
</section>

<section class="experience-block-desc">
  <div>
    <h3>SRC:CLR</h3>
    <ul>
      <li>Lead Front-End Engineer &mdash; March 2015 &dash; May 2015</li>
      <li>Front-End Engineer &mdash; June 2014 &dash; March 2015</li>
    </ul>
  </div>
</section>

<section class="experience-block-desc">
  <div>
    <h3>Meltmedia</h3>
    <ul>
      <li>Front-End Developer &mdash; February 2013 &dash; June 2014</li>
    </ul>
  </div>
</section>

<section class="experience-block-desc">
  <div>
    <h3>Stahls Inc.</h3>
    <ul>
      <li>Software Analyst / Web Developer &mdash; 2010 &dash; 2013</li>
      <li>Information Technology Specialist &mdash; 2007 &dash; 2010</li>
    </ul>
  </div>
</section>

<section class="experience-block-desc">
  <div>
    <h3>Stretch Internet</h3>
    <ul>
      <li>Internet Broadcast Studio Technician &mdash; 2006 &dash; 2007</li>
    </ul>
  </div>
</section>

<section class="experience-block-desc">
  <div>
    <h3>Chandler-Gilbert Community College</h3>
    <ul>
      <li>Information Technology Assistant &mdash; 2006 &dash; 2007</li>
    </ul>
  </div>
</section>
