<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Notable Skills</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="skills-block">
  <div>
    <p><strong>Front-end Advanced</strong><br />JavaScript, Angular, jQuery, HTML5, CSS3, Sass, &amp; Grunt</p>
  </div>

  <div>
    <p><strong>Front-end Additional</strong><br />React, Flux, D3, Jasmine, Protractor, Bootstrap, &amp; Responsive Design</p>
  </div>
</section>

<section class="skills-block">
  <div>
    <p><strong>Backend Aptitude</strong><br />Java, Node, Express, Spring MVC, .NET MVC, REST APIs, Mongo, &amp; SQL</p>
  </div>

  <div>
    <p><strong>Soft Attributes</strong><br />Communication, Leadership, Quick Learning, Accountability, &amp; Enthusiasm</p>
  </div>
</section>


</section>
