<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Notable Skills</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="skills-block">
  <div>
    <p><strong>Primary</strong><br />JavaScript, React, Backbone, Angular, RESTful APIs, jQuery, &amp; CSS/SCSS</p>
  </div>

  <div>
    <p><strong>Additional</strong><br />Node.js, Python, SQL, Mongo, D3, Grunt, Webpack, Jasmine, Mocha, et al</p>
  </div>
</section>

</section>
