<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Get in Touch</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="contact-block">
  <div class="follow-me-github">
      <img src="images/icons/github-octocat.png" alt="Follow me github.com/kyleaclark" />
      <p><a href="http://github.com/kyleaclark" title="GitHub" target="_blank">Follow me on GitHub</a> <span>&amp;</span> <a href="https://gist.github.com/kyleaclark" title="GitHub Gist" target="_blank">Gist</a></p>
    </ul>
  </div>
   
  <div class="follow-me-twitter">
    <img src="images/icons/twitter-bird.png" alt="Follow me twitter.com/kyleandrewclark" />
    <a href="http://twitter.com/kyleandrewclark" target="_blank">Follow me on Twitter</a>
  </div>
</section>

<section class="contact-block">
  <div>
    <ul class="contact-info-list">
      <li><a href="http://goo.gl/maps/5jy4G" target="_blank">Located in Arizona</a></li>
      <li><a href="http://www.linkedin.com/in/kyleaclark" target="_blank">Find me on LinkedIn</a></li>
      <li><a href="downloads/kyle-clark-resume.pdf" target="_blank">View my resume</a></li>
      <li><a href="mailto:kyleaclark.portal@gmail.com" rel="nofollow">Email me</a></li>
    </ul>
  </div>
</section>