<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Notable Skillz</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="skills-block">
  <div>
    <p><strong>Advanced</strong><br />JavaScript, jQuery, HTML5, CSS3, Sass, Handlebars, Responsive Design, &amp; Mobile Web Development</p>
  </div>

  <div>
    <p><strong>Proficient</strong><br />Node, Angular, Underscore, REST APIs, Grunt, Require, Unit Testing, &amp; UI/UX Design</p>
  </div>
</section>

<section class="skills-block">
  <div>
    <p><strong>Intermediate</strong><br />Express, Backbone, CoffeeScript, &amp; Analytics Tracking</p>
  </div>

  <div>
    <p><strong>Familiarty</strong><br />ASP.NET MVC, C#.NET, Java, Mongo, &amp; SQL</p>
  </div>
</section>

<section class="skills-block">
  <div>
    <p><strong>Other</strong><br />Git, Karma, Jasmine, Mocha, Chai, Sinon, Agile Scrum, &amp; Photoshop</p>
  </div>

  <div>
    <p><strong>Soft</strong><br />Communication, Leadership, Quick Learning, Accountability, &amp; Enthusiasm</p>
  </div>
</section>

  
</section>