<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Software Skillz</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="skills-block">
  <div>
    <p><strong>Advanced</strong><br />JavaScript, jQuery, HTML5, CSS3, Sass, RequireJS, Handlebars, &amp; Grunt</p>
  </div>

  <div>
    <p><strong>Proficient</strong><br />Client-Side Templating, Unit Testing, Responsive Design, &amp; Mobile Web</p>
  </div>
</section>

<section class="skills-block">
  <div>
    <p><strong>Knowledgable</strong><br />AngularJS, Server-Side JavaScript, NodeJS, ExpressJS, &amp; APS.NET MVC</p>
  </div>

  <div>
    <p><strong>Other</strong><br />Git + GitHub, JIRA, Basecamp, Agile Methodologies, &amp; Photoshop</p>
  </div>
</section>