<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">A Little Background</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="background-block">
  <p>I am a Front-end developer at <a href="http://meltmedia.com" target="_blank">Meltmedia</a> with over six years experience in the software field.</p>
</section>

<section class="background-block">
  <p>The first website I built was in 2001. I built my first program in 2002 using C++. I've contributed to over 25 professional projects. I love to build amazing software. And it's not just a job to me. Programming is a lifestyle and my passsion</p>
</section>