<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Education &amp; Certs</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="education-block-headline">
  <div>
    <h4>Education</h4>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h4>Arizona State University</h4>
    <ul>
      <li>Bachelor of Arts in Political Science &mdash; Spring 2010</li>
    </ul>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h4>Mesa Community College</h4>
    <ul>
      <li>Web Scripting with ASP.NET &mdash; Spring 2012</li>
      <li>Software Testing for Quality Assurance &mdash; Spring 2012</li>
      <li>Object-Oriented Programming & Data Structures in Java &mdash; Spring 2011</li>
    </ul>
  </div>
</section>

<section class="education-block-headline education-block-certifications">
  <div>
    <h4>Certifications</h4>
  </div>
</section>

<section class="education-block-desc">
  <div>
    <h4>Microsoft Certified <em>Programming in HTML5 with JavaScript and CSS3</em>, January 2013</h4>
  </div>
</section>