<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Schooling & Certifications</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<h3>Edumacation</h3>
<p>Bachelor of Arts in Political Science, Spring 2010</p>
<p>Object-Oriented Programming & Data Structures in Java, Spring 2011</p>
<p>Web Scripting with ASP.NET, Spring 2012</p>
<p>Software Testing for Quality Assurance, Spring 2012</p>

<h3>Certifications</h3>
<p>Microsoft Certified <em>Programming in HTML5 with JavaScript and CSS3</em>, January 2013</p>