<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Where I've Worked</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<h3>Download my full resume</h3>

<h3>Meltmedia</h3>
<p>Front-End Developer</p>

<h3>Stahls Inc.</h3>
<p>Software Analyst / Web Developer</p>
<p>Information Technology Specialist</p>

<h3>Stretch Internet</h3>
<p>Internet Broadcast Studio Technician</p>

<h3>Skyview</h3>
<p>Board Operator</p>

<h3>Chandler-Gilbert Community College</h3>
<p>Information Technology Assistant</p>