<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Software Skillz</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<section class="skills-block">
  <div>
    <p><strong>Advanced</strong><br />JavaScript, jQuery, HTML5, CSS3, Sass, RequireJS, Handlebars, Grunt, &amp; Docpad.</p>
  </div>

  <div>
    <p><strong>Proficient</strong><br />Client-side templating, Unit testing, Responsive design, &amp; Mobile Development.</p>
  </div>
</section>

<section class="skills-block">
  <div>
    <p><strong>Intermediate</strong><br />NodeJS, ExpressJS, AngularJS, APS.NET MVC, C#</p>
  </div>

  <div>
    <p><strong>Other</strong><br />Git + GitHub, Jira, Basecamp, TargetProcess, Agile Methodologies, & Photoshop</p>
  </div>
</section>