<header class="slide-title-container">
  <div class="slide-title-content">
    <h2 class="slide-title">Software Skillz</h2>
  </div>
  <div class="slide-title-arrow-outline"></div>
  <div class="slide-title-arrow"></div>
</header>

<h3>Advanced</h3>
<p>JavaScript, jQuery, HTML5, CSS3, Sass, RequireJS, Handlebars, &amp; Grunt.</p>

<h3>Proficient</h3>
<p>Client-side templating, Unit testing, Responsive design, &amp; Mobile Development.

<h3>Intermediate</h3>
<p>NodeJS, ExpressJS, AngularJS, APS.NET MVC, C#</p>

<h3>Other</h3>
<p>Git + GitHub, Jira, Basecamp, TargetProcess, Agile Methodologies, & Photoshop</p>