.nav-slider-container {
  margin-left: 2px;
  width: 80%;
}

.nav-slider {
  display: none;

  /* Desktop Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    display: block;
    margin-left: 650px;
    position: fixed;
    width: $navSliderDesktopSize;
    z-index: 10;
  }
}

.nav-slider-content {
  float: right;
  padding-top: 75px;
  width: 100%;
}

.nav-slider-block {
  float: right;
  margin-right: 5px;
  opacity: 0.4;
  min-width: 100px;
  text-transform: lowercase;

  a {
    background-color: $colorSkinPrimaryLight;
    border: 2px solid rgba($colorBorder, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: $fontSizeSmall;
    font-weight: 500;
    margin-bottom: 6px;
    padding: 1px 4px;
  }

  a:hover {
    background-color: $colorSkinPrimaryMedLight;
    color: #FFFFFF;
  }

  a.nav-slide-active, a:hover.nav-slide-active {
    background-color: $colorBorderDark;
    border: 2px solid rgba($colorSkinPrimaryDark, 0.5);
  }
}
