<!-- HOME VIEW -->

<div class="clear"></div>

<div data-ng-controller="HomeController">

  <section data-ng-repeat="slide in slides" class="container {{slide.containerClass}}" data-slide="{{slide.dataSlide}}" data-user-scroll-event>
    <div class="content-container">
      <div class="content {{slide.contentClass}}">
        <div data-ng-include="slide.partial" />
      </div>
    </div>
  </section>

  <div class="content-container">
    <div class="nav-slider-container">
      <nav class="nav-slider">
          <div class="nav-slider-content">
            <div data-ng-include="'/framework/partials/home/navSlider.html'" />
          </div>
      </nav>
    </div>
  </div>

</div>