<!-- HOME VIEW -->

<div class="clear"></div>

<nav class="container nav-slider">
  <div class="content-container nav-slider-content">
    <div data-ng-include="'/framework/partials/projects/navSlider.html'" />
  </div>
</nav>

<div data-ng-controller="ProjectsController">

  <section class="container projects" ng-class="{first : $first, odd : $odd}" data-ng-repeat="project in projects | orderBy:'-updated'" data-slide="{{project.slide}}">
    <div class="content-container">
      <div class="content projects-content">
        <div data-ng-include="'/framework/partials/projects/project.html'" />
      </div>
    </div>
  </section>

</div>
