<!-- HOME VIEW -->

<div class="clear"></div>

<div data-ng-controller="ProjectsController">

  <section class="container projects" data-ng-class="{'projects-container-first' : $first, 'projects-container-odd' : $odd}" data-ng-repeat="project in projects | orderBy:'-updated'" data-slide="{{project.slide}}" data-user-scroll-event>
    <div class="content-container">
      <div class="content projects-content">
        <div data-ng-include="'/framework/partials/projects/project.html'" />
      </div>
    </div>
  </section>

  <div class="content-container">
    <div class="nav-slider-container">
      <nav class="nav-slider">
          <div class="nav-slider-content">
            <div data-ng-include="'/framework/partials/projects/navSlider.html'" />
          </div>
      </nav>
    </div>
  </div>

</div>
