<header class="container header">
  <div class="content-container header-content">
    <div class="column-one">
      <a href="/" class="header-logo-name">Kyle A. Clark <span>Software Engineer</span></a>
    </div>
    <div class="column-two">
      <nav class="header-nav">
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/projects" title="Projects">Projects</a></li>
          <li><a href="/gists" title="Gists">Gists</a></li>
          <li><a href="/downloads/Kyle-Clark-Resume.pdf" title="Resume" target="_blank">Resume</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section class="nav-container">
  <div>
    <input id="nav-btn" name="nav-accordion" type="checkbox" />
    <label for="nav-btn">Nav</label>
    <article>
      <ul>
        <li><a href="/" title="Home" nav-accordion>Home</a></li>
        <li><a href="/projects" title="Projects" nav-accordion>Projects</a></li>
        <li><a href="/gists" title="Gists" nav-accordion>Gists</a></li>
        <li><a href="/downloads/Kyle-Clark-Resume.pdf" target="_blank" nav-accordion>Resume</a></li>
      </ul>
    </article>
  </div>
</section>