<div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
    
  <aside class="contact">
    <div>
      <img src="images/icons/github-octocat.png" alt="Follow me github.com/kyleaclark" />
      <a href="http://github.com/kyleaclark" class="follow-me" target="_blank">Follow me on GitHub</a>
    </div>
     
    <div>
      <img src="images/icons/twitter-bird.png" alt="Follow me twitter.com/kyleandrewclark" />
      <a href="http://twitter.com/kyleandrewclark" class="follow-me" target="_blank">Follow me on Twitter</a>
    </div>

    <div class="float-left">
      <ul class="pink-square top-space">
        <li><a href="http://goo.gl/maps/5jy4G" target="_blank">Located in Arizona</a></li>
        <li><a href="http://www.linkedin.com/in/kyleaclark" target="_blank">Find me on LinkedIn</a></li>
        <li><a href="downloads/kyle-clark-resume.pdf" target="_blank">View my r&eacute;sum&eacute;</a></li>
        <li><a href="mailto:kyleaclark.portal@gmail.com" rel="nofollow">Email me</a></li>
      </ul>
      <ul class="no-square my-photo">
          <li id="my-pic"></li>
      </ul>
    </div>
  </aside>          
</div>