@import "../../_global.scss";

.about-content {
  margin-top: -20px;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeTablet) {
    margin-top: 40px;
  }
  
	h1 {
    color: $colorText;
    margin: 0;

    /* Tablet Media Query */
    @include apply-to(min-width, $bodySizeMobileLarge) {
      font-size: $fontSizeDouble;
    }
  }

  h2 {
    color: $colorTextLight;
    margin-top: 0;
  }
}

.about-block-desc {
  float: left;
  width: 100%;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeMobileLandscape) {
    width: 58%;
  }
}

.about-block-pic {
  float: left;
  width: 100%;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeMobileLandscape) {
    width: 42%;
  }
}

#my-pic {
  border: 3px dashed $colorBorder;
  box-shadow: 6px 10px 10px rgba($colorBorder, 0.4);
  margin-bottom: 10px;
} 

#why-az {
  display: none;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeMobileLandscape) {
    display: block;
  }
}