@import "../../_global.scss";

.background-block {
	float: left;
	margin-top: 10px;
	margin-right: 5%;
	width: 45%;

  p {
    background-color: $colorBorder;
    border: 3px solid rgba($colorBorderLight, 1);
    color: $colorTextLight;
    font-size: $fontSizeMedium;
    padding: 5px;
    width: 100%;
  }
}