@import "../../_global.scss";

.skills-block {
	float: left;
  margin-top: 10px;
  width: 100%;

  div {
    background-color: $colorBorder;
    border: 3px solid rgba($colorBorderLight, 1);
    float: left;
    margin-bottom: 16px;
    width: 100%;

    /* Tablet Media Query */
    @include apply-to(min-width, $bodySizeTablet) {
      margin-right: 4%;
      width: 48%;

      &:last-of-type {
        margin-right: 0%;
      }
    }
  }

  p {
    color: $colorTextLight;
    font-size: $fontSizeMedium;
    margin: 0;
    padding: 5px;
  }

  &:last-of-type {
    margin-top: 0px;

    /* Tablet Media Query */
    @include apply-to(min-width, $bodySizeTablet) {
      margin-top: 10px;
    }
  }
}