 <header class="project-header">
  <section class="slide-title-container">
    <div class="slide-title-content">
      <h2 class="slide-title">{{project.title}}</h2>
    </div>
    <div class="slide-title-arrow-outline"></div>
    <div class="slide-title-arrow"></div>
  </section>

  <section class="project-block-blurb">
    <div>
      <h3>{{project.blurb}}</h3>
    </div>
  </section>
</header>

<section class="project-block-desc">
  <div>
    <h3>The Deets</h3>
    <ul>
      <li><span>Created: {{project.created | date:'MM/yyyy'}}</span> &ndash; <span>Updated: {{project.updated | date:'shortDate'}}</span></li>
      <li data-ng-repeat="description in project.descriptions"><span>{{description.content}}</span></li>
    </ul>
  </div>
</section>

<section class="project-block-sidebar">
  <div>
    <h3>Check It Out</h3>
    <ul>
      <li data-ng-repeat="reference in project.references"><a data-ng-href="{{reference.url}}" target="_blank" title="{{reference.name}}">{{reference.name}}</a></li>
    </ul>
  </div>
</section>

<section class="project-block-techs">
  <div>
    <h3>Technologies Utilized</h3>
    <p data-ng-repeat="tech in project.technologies">{{tech.name}}<span data-ng-show="!$last ">,</span></p>
  </div>
</section>